{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>Home</title>
  </head>
  <body style="width: 320px; margin: auto;">
    <main>
      <h1>Enter Ticket</h1>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btn-group-low">
              <button type="submit">Submit Ticket</button>
              <a type="button" href="{% url 'history' %}" target="_self">View History</a>
          </div>
      </form>
    </main>
  </body>
</html>
